.quiz {
    height: 950px;
    background: #F8F8F8;
    padding-top: 130px;

    &__title {
        font-family: $font-gotham;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
    }

    .active {
        color: #1A191C;
    }

    .wrapper {
        float: right;
        padding-right: 43px;
    }

    &__subtitle {
        width: 765px;
        margin: 0 auto;
        margin-top: 33px;
        font-family: $font-gotham;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        color: #1A191C;
    }

    &__content {
        font-family: 'Gotham Pro';
        margin-top: 70px;
        margin-bottom: 147px;
        width: 1170px;
        height: 480px;
        background: #fff;
        border: 1px solid #E3E3E3;
        box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.08);
        border-radius: 4px;


        &-img {
            width: 270px;
            height: 100%;
            float: left;
        }

        &-progress {
            width: 810px;
            height: 50px;
            margin-top: 27px;
            padding-left: 50px;
            padding-right: 43px;
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            line-height: 14px;
            color: #C4C4C4;
            border-bottom: 1px solid #E8E8E8;
        }

        &-num {
            width: 44px;
            height: 44px;
            line-height: 40px;
            border: 2px solid $main-color;
            border-radius: 100%;
            align-items: center;
            text-align: center;
        }

        &-question {
            margin-top: 23px;
            font-size: 20px;
            line-height: 28px;
            color: #1A191C;
            display: flex;
            align-items: center;
        }

        &-num {
            margin-right: 11px;
        }

        &-answer {
            width: 810px;
            height: 184px;
            margin-top: 32px;

            p {
                margin-bottom: 10px;
                font-weight: 300;
                font-size: 13px;
                color: #1A191C;

                input {
                    width: 24px;
                    height: 24px;
                    border: 1px solid #D5D5D5;
                    border-radius: 4px;
                    margin-right: 10px;
                }
            }

            textarea {
                width: 100%;
                height: 100%;
                font-size: 13px;
                line-height: 14px;
                resize: none;
                color: #1A191C;
                padding: 22px;
                border: 1px solid #D5D5D5;
                border-radius: 6px;
            }
        }

        &-nav {
            position: relative;
            display: flex;
            justify-content: space-between;

        }

        &-btn-next {
            background: #009FE3;
            border: none;
            border-radius: 6px;
            color: #fff;
            width: 143px;
            height: 40px;
            margin-top: 35px;
            position: absolute;
            right: 0;
        }

        &-btn-prev {
            background-color: #fff;
            border: none;
            color: #1A191C;
            width: 143px;
            height: 40px;
            margin-top: 35px;
        }
    }
}

.checkbox-col-1 {
    width: 50%;
    float: left;
}


.hidden {
    display: none;
}